body{

  height: 1600px;
  background-color: #f8f9fa;

}

header{

  background-color: #fff;
  height: 80px;
  margin-top:-10px;
  margin-left: -10px;
  margin-right: -10px;
}

.Logo-du-Site
{

  width:250px;
  height: 70px;
  margin-top: 5px;
  margin-left: 80px;
  margin-bottom: 4px;
  display: inline-block;
  vertical-align: top;
 
}

.acceuil
{
  position: relative;
  height: 35px;
  width: 120px;
  bottom: 55px;
  left: 1100px;
}
.libelleAcceuil
{
  position: absolute;
  left:34px;
  top:10px;
  text-align: center;
  font-family: 'muliregular',Arial,sans-serif;
  color: black;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
 
}
.iconeAcceuil img
{
  position: absolute;
  height: 25px;
  width: 25px;
  top:3.5px;
  left: 4px;
}

.sectionScoreEtCorrection p
{
  margin-left: 195px;
  height: 50px;
  width: 900px;
  font-size: 30px;
  font-weight: 500px;
  font-family: 'mulibold',Arial,sans-serif;
}

.sectionScoreEtCorrection
{
  
  height: 1500px;
 
}

.scoreEtCorrection
{
  
  width: 900px;
  height: auto;
  margin: auto;
  margin-left: 200px;
  margin-top: 10px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
  word-wrap: break-word;
  background-color: #fff;
  border-top: solid #777 5px;

  border-radius: .25rem;
  font-family: 'muliregular',Arial,sans-serif;
  padding-left: 12px;
  padding-right: 12px;
}
.scoreGlobal
{
  font-size: 30px;
  color: rgb(218, 10, 10);
  margin-left: 45px;
  margin-top: 40px;;
  padding-bottom: 10px;
  
}
.scoreNote
{
    position: relative;
    border:solid rgb(218, 10, 10) 2px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 320px;
    margin-top: 20px;
  
}
.scoreNote p
{
    
    font-size: 40px;
    position: absolute;
    color: rgb(218, 10, 10);
    width: 65px;
    height: 65px;
    text-align: center;
    margin-left: 27px;
    margin-top: 25px;
}

.scoreEtCorrection > p
{
  font-family: 'muliregular',Arial,sans-serif;
  font-size: 30px;
  color: rgb(218, 10, 10);
  margin-left: 45px;
  margin-top: 70px;;
  padding-bottom: 10px;
}

.capture-question img
{
  width: 60%;
  height: 60%;
  border-radius: .5rem;
  margin-top:-10px;
  margin-left:130px;
}

.questionNbr p
{
  
  margin-top: 70px;
  font-style: bold;
  margin-left:125px;
  font-size: 22px;
}

.enonce-question p
{
  margin-top: 30px;
  font-weight: 120;
  margin-left:130px;
  font-family: 'muliregular',Arial,sans-serif;
  font-size: 19px;
}

.reponse
{
  margin-top: 20px;
  margin-left:170px;
  width:500px;
  padding-left: 20px;
}

.partieReponses h4
{
  margin-top: 30px;
  margin-left:130px;
  font-family: 'muliregular',Arial,sans-serif;
}
#reponseTrois
{
  background-color: chartreuse;
}





@font-face {
    font-family: 'muliregular';
    src: url('fonts/muli-webfont.woff2') format('woff2'),
         url('fonts/muli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mulibold';
    src: url('fonts/muli-bold-webfont.woff2') format('woff2'),
         url('fonts/muli-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoblack';
    src: url('fonts/roboto-black-webfont.woff2') format('woff2'),
         url('fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ibm_plex_sansregular';
    src: url('fonts/ibmplexsans-regular-webfont.woff2') format('woff2'),
         url('fonts/ibmplexsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}






